{% for port in compliance_access_ports %}
interface {{ port.name }}
 authentication port-control auto
 dot1x pae authenticator
 authentication host-mode {{ stig_controls['V-220649'].auth_hostmode | default('single-host') }}
{% endfor %}
{% for port in compliance_voice_ports | default([]) %}
interface {{ port.name }}
 authentication host-mode multi-domain
 authentication port-control auto
 dot1x pae authenticator
{% endfor %}
